body {
    background-color: #083b4c;
}

.bg_cell_lightblue {
    background-color: #1389b2;
}

.bg_cell_lightgreen {
    background-color: #0bd6a1;
}

.bg_cell_yellow {
    background-color: #ffdd16;
}

.bg_cell_red {
    background-color: #f0466f;
}