body {
    background-color: #083b4c;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell_bg_lightblue {
background-color: #1389b2;
}

.cell_bg_lightgreen {
    background-color: #0bd6a1;
}

.cell_bg_yellow {
    background-color: #ffdd16;
}

.cell_bg_red {
    background: #f0466f;
}